/*Parametros geral do site*/
.parameter-geral{
	width: 1080px;
	height: cover;
	justify-content: center;
}

/*Background color*/
.background-color-custom{
	background-color: rgb(60, 60, 60, 0.4);
}

/*Fontes*/
.fonte-ubuntu{
	font-family: 'Ubuntu', sans-serif;
}

/*Carrossel*/
.imagem-carrosel {
	object-fit: cover;
	height: 680px;
}
.cor-carrosel {
	color: indigo;
}

/*Cards*/
.borda-cards-color{
	border-color: darkgrey;
}
.posição-card-imagem{
	object-fit: cover;
	height: 250px;
}
.card-largura{
	max-width: 18rem;
}

